/* =============
    Typography
============= */
@use "../helpers";

body{
    font-family: "Open Sans", sans-serif;
}

.section-title{
    font-size: helpers.rem-calc(50);
    line-height: helpers.rem-calc(65);
    color: var(--nightBlue);

    span{
        position: relative;

        img{
            position: absolute;
            top: -5px;
            left: 4px;
        }
    }


}

 //.open-sans-<uniquifier> 
   // font-family: "Open Sans", sans-serif;
    //font-optical-sizing: auto;
    //font-weight: <weight>;
    //font-style: normal;
    //font-variation-settings:
      //"wdth" 100;
  //