/* =============
    About
============= */
@use "../helpers";

#about{
    background-color: var(--white);
    section{
        h1{
            color: var(--nightBlue);
        }
        p{
            color: var(--grey);
        }

        #safe{
            h2{
                color: var(--nightBlue);
            }
            p{
                color: var(--grey);
            }

        }

    }

}