/* =============
    Howto
============= */
@use "../helpers";

#howto{
    background-color: var(--white);
    section{
        //h1{
            //color: var(--nightBlue);
        //}
        p{
            color: var(--grey);
        }

        #column{
            border: 1px solid var(--lilyWhite);
            
            h2{
                color: var(--nightBlue);
            }

        }



    }
}

