/* =============
    Newsletter
============= */
@use "../helpers";

#newsletter{
    background-color: var(--lilyWhite);
    padding: 40px 24px;

    @include helpers.md{
        padding: 60px 20vw;
    }

    @include helpers.lg{
        display: grid;
        grid-template-columns: 70% auto;
        padding: 0px 0px;
        gap: 74px;
    }

    @include helpers.xl{
        width: 1200px;
        margin: 0 auto;
    }

    #newsletter-left{
        @include helpers.lg{
            padding: 40px 24px;
        }
        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin-top: 16px;
            margin-bottom: 16px;
    
        }
    
        form{
            
            input{
                border: none;
                color: var(--grey);
                font-weight: 600;
    
            }
    
            button{
                border: none;
                background-color: var(--nightBlue);
                color: var(--white);
                font-size: helpers.rem-calc(14);
                font-weight: 600;
                margin-bottom: 60px;
    
    
            }
        }

    }



    aside{
        display: none;

        @include helpers.lg{
            display: block;
        }

        img{
            margin-top: 5px;
        }
    }
}