/* =============
    Packages
============= */
@use "../helpers";

#packages{
    background-color: var(--lilyWhite);

    h1{
        color: var(--nightBlue);
    }

    #package-button-container{
        background-color: var(--white);

        button{
            border: none;
        }

        #left{
            background-color: var(--white);
            color: var(--grey);

        } 

        #right{
            background-color: var(--aqua);
            color: var(--white);

        }
    }

    #package-card-container{
        .package-card{
            background-color: var(--ghost);
            order: 1px solid var(--white);

            p{
                color: var(--nightBlue);

            }

            h3{
                color: var(--aqua);

            }

            h4{

                color: var(--grey);

            }
        }

        .selected{
            background-color: var(--white);
        }
    }


}