/* =============
    Promotion
============= */
@use "../helpers";

#promotion{


    p{
        color: var(--grey);
        font-size: helpers.rem-calc(16);
        line-height: helpers.rem-calc(28);

    }

}